@charset "UTF-8";

body {
	background:#ffffff;
	font-size : 12px;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

#olCanvasOverlay {
	position:absolute;
	top:0;
	left:0;
	z-index: 1;
}

.hidden {
  display: none;
}

#draggable {
	position:absolute;
	top: 100px;
	right: 100px;
	width: 150px;
	height: 150px;
	padding: 0.5em;
	background-color: #AAAAAA;
	z-index:2;
}

.legTable {
	display:table;
	width:100%;
	border-collapse: collapse;
}

.legTableRow {
	display:table-row;
}

.legTableRow:last-child {
	border-top: 2px solid black;
}
 
.legTableColLeft {
	display:table-cell;
}

.legTableColRight {
	display:table-cell;
	text-align: right;
}

